.container{

}

.posts{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.post{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, .64);
    padding: 1rem;
}

.post img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: .5rem;
}

.post span{
    font-size: 12px;
    color: #9ca3af;
}

.reactions{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.reactions svg{
    cursor: pointer;
}

.reactions svg:nth-child(1):hover{
    color: #ef4444;
}

.reactions svg:nth-child(2):hover{
    color: #22c55e;
}

.reactions svg:nth-child(3):hover{
    color: #22d3ee;
}

.details{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.details span:nth-child(1){
    font-size: 15px;
    color: #374151;
    font-weight: bold;
}

.details span:nth-child(2){
    font-size: 14px;
    color: #374151;
}