.container{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-around;
}

.logo{
    color:#22d3ee;
    width: 30px;
    height: 30px;
}

.search{
    display: flex;
    padding: 5px;
    border-radius: 10px;
    background-color: #dfe6e9;
    align-items: center;
}

.search input{
    border: none;
    outline: none;
    background-color: transparent;
}

.search .icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: linear-gradient(106deg, #34d399, #22d3ee);
    border-radius: 5px;
    cursor: pointer;
}